body {
	font-size: 14px;
}

.db { display: block; }
.pr{ position: relative; }

.width600 {
	max-width: 600px;
	margin: 0 auto;
}

.link { 
	color: #999;
	font-weight: bold;
	cursor: pointer;
}

.link:hover { 
	color: #666;
}
.page-link{
	color: #000 !important;
	background: #f8f8f8;
	border: 1px solid #000;
	border:none;
}
.page-item.active .page-link{
	background: #f8f8f8;
	border: 1px solid #979797
}
.point-box {
	text-align: center;
	padding-top: 2%; 
	border-radius: 6px;
	width: 100px;
	height: 100px;
	background: #f8f8f8;
	border: solid #ececec;
}

.point-box .counter {
	font-size: 40px;
	font-weight: bold;
	position: relative;
	top: 15px;
}
.point-box .counter a {
	color: #000;
}

.point-box span {
	font-size: 13px;
}

.remove{
	position: absolute;
	top: -5px;
	right: -5px;
	display: none;
	cursor: pointer;
}

.box {
	padding: 5px;
	border: 1px solid #eee;
	border-radius: 4px;
}
.box:hover{
	background: #eee;
}

.box:hover .remove{
	display: block;
}

.modal.fade {
	background: rgba(0, 0, 0, 0.3);
}
.Toastify__toast--success {
	border: 1px solid #07bc0c !important;
	border-radius: 8px !important;
	color: #07bc0c !important;
	background: #ddf9d3 !important;
}
.Toastify__close-button{
	color: #07bc0c !important;
}
.Toastify__progress-bar {
	background-color: rgb(100 195 125 / 70%) !important;
}
